* {
    padding: 0px;
    margin: 0px;
}

.one {
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 30px;
    width: 30px;
    padding: 12px;
    color: red;
}

.header h3 {
    font-size: 1.3rem;
}

.navbar {
    padding-left: 180px;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.86);
}

.navbar ul {
    display: flex;
    list-style: none;
}


.navbar ul li a {
    color: rgb(120, 169, 240);
    text-decoration: none;
    display: block;
    padding: 5px 45px;
    font-size: 1.6rem;
    border-radius: 5px;
    margin: 15px 0px;
}

.navbar ul li a:hover {
    color: rgb(0, 0, 0, 0.86);
    background-color: rgb(120, 169, 240);

}

.navbar ul li {
    position: relative;
}

.navbar ul li .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.86);
    min-width: 220px;
    z-index: 10;
}

.navbar ul li .dropdown ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar ul li .dropdown ul li a {
    font-size: 1.4rem;
    /* text-align: center; */
    padding: 15px 30px;
    margin: 0px;
    border-radius: 0px;
}

.navbar ul li .dropdown ul li a:hover {
    color: rgb(0, 0, 0, 0.86);
    background-color: rgb(120, 169, 240);
}

.navbar ul li:hover .dropdown {
    display: block;
}

.container {
    display: grid;
    grid-template-columns: 300px auto;
    background-color: rgb(120, 169, 240);
}

.left{
    display: flex;
    flex-direction: column;
    background-color: rgb(36 36 36);
    height: 100%;
}
.box1 {
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
    margin: 10px;
    border-radius: 20px;
    
}

.box1 h3 {
    font-size: 2rem;
    /* text-align: center; */
    padding: 20px 0px;
}
.box1 span{
    font-size: 1.04rem;
    margin: 20px 0px ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.list {
    font-size: 1.26rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#box2 {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 10px;
    background-color: rgb(120, 169, 240);
}

.item {
    background-color: white;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 20px;
}
.item:hover{
    transform: scale(1.02);
}

.item img {
    height: 270px;
    width: 270px;
    margin: 5px;
}

.item h2 {
    font-size: 1.7rem;
    font-family: "Chakra Petch", sans-serif;
    font-style: normal;
    padding: 10px;
    cursor:default;
    text-align: center;
}
.item p{
    font-size: 1.7rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    margin: 15px 0px;
}

.item button{
    font-size: 1.3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px 20px;
    margin: 5px 0px;
    border-radius: 15px;
    cursor: pointer;
    color: rgb(4, 101, 246);
    border: 2px solid blue;
}
.item button:hover{
    transform: scale(1.09);
    background-color: rgb(120, 169, 240);
    color: white;
}

footer{
    padding: 3px 7px ;
    background-color: rgba(0, 0, 0, 0.86);
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;  
}
footer img{
    height: 25px;
    padding: 5px;
}

/* Styles for tablets (iPad in portrait/landscape mode) */
/* @media (max-width: 768px) {
    body {
      font-size: 14px;
    }
  } */
  
  /* Styles for mobile phones */
  @media (max-width: 480px) {
    .left{
        display: none;
    }
    .navbar{
        padding-left: 0px;
    }
    .navbar ul li a{
        padding: 10px 15px;
        font-size: 0.5rem;
        margin: 7px 0px;
    }
    .item img {
        height: 200px;
        width: 200px;
        margin: 0px;
    }
    .item h2 {
        font-size: 1.0rem;
        padding: 5px;
    }
    .item p {
        font-size: 1.0rem;
        margin: 0px 0px;
    }
    .item button {
        font-size: 0.7rem;
        padding: 6px 20px;
        margin: 5px 0px;
    }

    .item {
    background-color: white;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    }

    #box2 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 0px;
    }
    .container{
        grid-template-columns: none;
    }
  }